@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');


.primary-h1{
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
}
.primary-p{
    color: #737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
}

.primary-btn{
    width: 140px;
    height: 55px;
    color: #005FAC;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 4px;
    border: 0;
   
}
.primary-btn:hover{
    box-shadow: 1px 1px 10px rgb(116, 111, 101),
                2px 2px 10px rgb(0, 183, 255),
                3px 3px 10px rgb(3, 235, 252),
                5px 5px 10px rgb(83, 82, 82),
                6px 6px 10px rgb(82, 80, 80);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tektur', sans-serif;
    scroll-behavior: smooth;
}


/* start nav bar */

nav{
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 1;
    pointer-events: painted;
    
    
}
.my-name{
    margin-right: 550px;
    border: none;
    color: #FFF;
    font-weight: 700;
    font-size: 24px;
    text-shadow: 1px 1px 2px white,
                1px 1px 2px rgb(0, 0, 0),
                1px 1px 2px white,
                1px 1px 2px rgb(0, 0, 0),
                1px 1px 2px rgb(0, 0, 0);
}
nav>ul{
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-right: 50px;
}
nav>ul li{
    list-style: none;
    margin-right: 30px;
    /* border: 1px solid white; */
    padding: 10px 15px ;
    /* border-radius: 30px; */
    border-bottom: 1px solid white;

}
nav>ul li a{
    text-decoration: none;
    color: white;
}


/* end nav bar */

/* start header section */

.header-container{
    position: relative;
    width: 100%;
    height: 110vh;
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
}
.header-title{
    position: absolute;
    width: 380px;
    top: 216px;
    right: 230px;
    text-align: right;

}
.header-name{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.header-disc{
    color: #FFF;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* end header section */

/* start failure section */

.failures{
    position: relative;
    width: 80%;
    height: 70vh;
    margin: 250px auto;
    display: flex;
    align-items: center;
}
.failure-img{

   
}
.faulures-container{
    position: absolute;
    top: 160px;
    right: 28px;
    margin-left: 130px;
}
.failure-title{
    width: 288px;
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.failure-disc{
    width: 416px;
    color:#444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
ul li{
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;   
}

/* end failure section */

/* start plan section */

.plan-hd{
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;

}
.plan-container{
    max-width: 80%;
    min-height: 200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.skill{
   justify-content: center; 
   text-align: center;
   align-items: center;
}
.skill-img{
    width: 80px;
}

/* end Plan section */

/* Start mindset section */
.mindset-container{
    position: relative;
    width: 80%;
    height: 300px;
    margin: 60px auto;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url(../images/watch.png);
    border-radius: 8px;
    
}
.mindset-item{
    position: absolute;
    width: 450px;
    top: 80px;
    left: 60px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.mindset-item >.primary-btn{
    margin-top: 20px;
}
/* end mind section */

/* start footer section */
.footer-container{
    display: flex;
    width: 100%;
    height: 70%;
    background-color: #181717;
    justify-content: space-around;
}
.title-hd1{
    width: 480px;
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 20px;
    justify-content: center;
}


.footer-name{
    text-align: center;
    margin-top: 70px;
    text-shadow: 1px 1px 1px rgb(15, 14, 14),
                1px 1px 2px rgb(5, 255, 138),
                1px 1px 4px rgb(103, 255, 2),
                1px 1px 2px rgb(255, 251, 1);
}
.title-hd1 p:not(.ph){
    margin-top: 30px;
    color: rgb(252, 252, 252);
    font-size: 14px;
    letter-spacing: 5px;
}

.title-hd1 :hover{
    color: red;
}
.ph{
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 30px;
}

.icons{
    display: inline;
    top: 30px;
}
.icons :hover{
    transform: rotate(10deg) scale(1.10);
}

.label{
    display: block;
}

.title-hd2{
    width: 480px;
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 15px;
}

.title-hd2 :hover{
    color: red;
}

input:not(.ft-btn){
    width: 100%;
    display: flex;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    border: none;
}

input:hover{
    box-shadow: 1px 1px 10px rgb(116, 111, 101),
    -1px -1px 10px rgb(56, 183, 233);
}
.ft-btn{
    width: 90px;
    height: 40px;
    margin: 30px 70px 30px 70px;
    border-radius: 30px;
    background-color: #048eff;
    color: white;
}
.ft-btn:hover{
    background-color: #181717;
    color: rgb(253, 253, 255);
}

placeholder{
    font-size: 20px;
}
